.sales-banner {
  position: absolute;
  top: 10%;
  right: -7%;

  width: 60%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: bottom right;
  transform: rotate(-40deg);
  background-color: #ff0000;
  border: 3px solid #fff;
  color: #fff;

  font-weight: bolder;

  font-size: 40px;
  z-index: 999;
}

.main-categories {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  width: 100%;
  padding-bottom: 7em;
}

.main-category {
  position: relative;
  overflow: hidden;
}

.sales {
  grid-column: 1/3;
  grid-row: 1/2;
  position: relative;
}
.rods {
  grid-column: 1/2;
  grid-row: 2/4;
}
.reels {
  grid-column: 2;
  grid-row: 2;
}

.lures {
  grid-column: 2;
  grid-row: 3;
}
.tackle {
  grid-column: 1;
  grid-row: 4;
}
.line {
  grid-column: 1;
  grid-row: 5;
}
.accessories {
  grid-column: 2;
  grid-row: 4/6;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}

.category-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: stretch;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  margin: 0;
  padding: 0.25rem;
  opacity: 0.7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main-category:hover .category-overlay {
  opacity: 1;
}

.category-title {
  position: relative;
  bottom: 0;
  right: 0;
  margin: 0.25rem;
  border-radius: 8px;
}

@media (max-width: 1200px) {
  .sales-banner {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  .sales-banner {
    font-size: 30px;
    border: 2px solid #fff;
  }
}

@media (max-width: 600px) {
  .sales-banner {
    font-size: 25px;
  }
  .main-categories {
    gap: 0.5em;
  }
}

@media (max-width: 450px) {
  .sales-banner {
    font-size: 19px;
    border: 1px solid #fff;
  }
}
