.main-categories {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  width: 100%;
  padding-bottom: 7em;
}

.main-category {
  position: relative;
  overflow: hidden;
}

.sales {
  grid-column: 1/3;
  grid-row: 1/2;
}
.rods {
  grid-column: 1/2;
  grid-row: 2/4;
}
.reels {
  grid-column: 2;
  grid-row: 2;
}

.lures {
  grid-column: 2;
  grid-row: 3;
}
.tackle {
  grid-column: 1;
  grid-row: 4;
}
.line {
  grid-column: 1;
  grid-row: 5;
}
.accessories {
  grid-column: 2;
  grid-row: 4/6;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  border-radius: 8px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}

.category-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: stretch;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  margin: 0;
  padding: 0.25rem;
  opacity: 0.7;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main-category:hover .category-overlay {
  opacity: 1;
}

.category-title {
  position: relative;
  bottom: 0;
  right: 0;
  margin: 0.25rem;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .main-categories {
    gap: 0.5em;
  }
}
