.single-product {
  margin-bottom: 100px;
  width: 75%;
}

.single-info {
  background-color: var(--secondary-color);
  padding: 1em;
  border-radius: 4px;
}

.qty {
  margin-top: 1em;
  font-weight: 600;
}

.qty-input {
  font-size: 16px;
}

.multiple-options {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
}

.Singleproduct-info {
  display: flex;
}

.single-image-name-price {
  display: flex;
  flex-direction: row;
}

.single-details {
  padding-left: 2em;
}

.single-description {
  font-weight: 600;
  margin-top: 2em;
  margin-bottom: 2em;
}

.single-image img,
.option-image {
  max-width: 200px;
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Singleproduct-details {
  margin-left: 20px;
}

.add-to-cart-btn {
  cursor: pointer;
}

.measurements-table {
  margin-top: 1em;
}
th {
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  padding-left: 0.25em;
}

td {
  font-weight: 500;
  background-color: var(--secondary-color);
  padding-left: 0.25em;
}

table {
  border-collapse: collapse;
  border-radius: 4px; /* Rounded corners */
  overflow: hidden;
}

th,
td {
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th.horizontal-header {
  background-color: #f2f2f2;
}

td.vertical-value {
  padding-left: 10px;
}

/* Media query for small screens */
@media (max-width: 500px) {
  .Singleproduct-info {
    flex-direction: column;
  }
  .single-product {
    width: 100%;
  }

  .multiple-options {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }

  table {
    width: 25%;
  }

  th.horizontal-header,
  td.horizontal-value {
    display: none;
  }

  /* th.vertical-header {
    background-color: #f2f2f2;
  }

  td.vertical-value {
    padding-left: 1em;
  } */
  td {
    padding-left: 1em;
    white-space: nowrap;
  }
}
