.sub-categories {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
  width: 100%;
}

.sub-categories > div {
  flex-shrink: 2;
  margin-right: 20px;
  max-width: 100%;
}

.sub-categories img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .sub-categories {
    overflow-x: unset;
    margin-bottom: 0;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-image {
  position: relative;
}

.product-image img {
  max-width: 200px;
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.product-info h4 {
  margin: 5px 0;
}

.product-info button {
  margin-top: 10px;
}

.products h3 {
  margin: 1px 0;
  min-height: 3.5em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
}

.products h4 {
  margin: 1px 0;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .products h3 {
    font-size: 14px;
  }
}
