/* Cart.css */

/* CSS */
/* .checkout-button {
  background-image: linear-gradient(
    var(--primary-color),
    var(--secondary-color)
  );
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
} */

.username {
  margin-bottom: 2em;
}

.custom-button-root {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.qty-delete {
  display: flex;
  flex-direction: row;
}

.remove-item-delete {
  padding: 0;
}

.remove-items-message {
  color: red;
  font-weight: bold;
}

.cart-container {
  text-align: center;
  padding-bottom: 10em;
}
.cart-checkout {
  display: flex;
}

h1 {
  margin-top: 0;
}

.cart-items {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 2em;
  border-bottom: 0.5px solid black;
}

.cart-item-subtotal {
  font-weight: 700;
}

.cart-image {
  width: 20%;
  max-width: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.cart-item-details {
  flex: 50%;
  padding-right: 0.5em;
  text-align: left;
}

.cart-qty-price {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
  align-items: flex-start;
}

.cart-item-name {
  font-weight: bold;
  cursor: pointer;
}

.cart-item-options {
  margin: 5px 0;
}

.checkout {
  width: 25%;
  margin-top: 20px;
  padding-left: 2em;
}

.subtotal-container,
.shipping-container,
.tax-container,
.total-container,
.savings-container {
  display: flex;
  justify-content: space-between;
}

.savings-container {
  font-weight: 600;
}

.checkout p {
  margin: 10px 0;
}

.checkout button {
  padding: 10px 20px;
  margin-top: 2em;
  background-color: var(--primary-color);
  color: black;
  border: none;
  cursor: pointer;
}

.qty-input {
  width: 35px;
}

.total-container {
  font-weight: bold;
  border-top: 1px solid black;
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }
  .cart-items {
    width: 100%;
    flex-wrap: wrap;
  }

  .cart-item {
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 1em;
  }

  .cart-image {
    width: 40%;
    margin-right: 1em;
  }

  .cart-item-details {
    width: 60%;
    margin-top: 10px;

    text-align: left;
  }

  .cart-qty-price {
    flex: 100%;
    margin-top: 10px;
    padding-left: 2em;
    padding-right: 2em;
    width: 30%;
    display: flex;
    flex-direction: row;
    padding-left: 0.5em;
    justify-content: space-between;
    align-items: center;
  }

  .qty-input {
    width: 20px;
  }

  .cart-checkout {
    display: flex;
    flex-direction: column;
  }

  .checkout {
    margin: 0px;
    width: stretch;
    padding-right: 2em;
  }

  .subtotal-container,
  .shipping-container,
  .tax-container,
  .total-container,
  .savings-container {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
}
